:root {
    --primary-color: rgb(236, 236, 236);
    --secondary-color: rgb(21, 21, 21);
    --blue-color: #2bc5cd;
    --orange-color: #ff693d;
    --border: 2px solid var(--blue-color);
    --spacing: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Resto del CSS */
  
  
  .school {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
  }
  
  .student {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
  }
  
  .time {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
  }
  
  .alumni {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
  }
  
  .alumni,
  .school,
  .student,
  .time {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
body{
    width: 100%;
    background-color: white;
    
}
  .page{
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 100px;
    background-color:var(--primary-color);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2%;
    border: 10px solid --primary-color;
    border-radius: 10px;
    padding: var(--spacing);
  }

  header{
    display: grid;
    grid-column: 1/3;
    grid-row: 1/5;
    text-align: center;
    background-color: var(--blue-color);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: var(--spacing);
  }

 .school{
    width: 100%;
    height: 100%;
    max-width: 800px;
    grid-column: 3/6;
    grid-row: 1/3;
    

 }

 .student{
    width: 100%;
    height: 100%;
    max-width: 800px;
    grid-column: 6/9;
    grid-row: 1/3;
 }

 main{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-column: 3/6;
    grid-row: 3/5;
    color: var(--blue-color);
    border: var(--border);
    background-color: var(--primary-color);
 }

 .time{
    max-width: 800px;
    grid-column: 6/9;
    grid-row: 3/5;
 }

 .alumni{
    width: 100%;
    max-width: 800px;
    grid-column: 1/3;
    grid-row: 5/8;
 }

 footer{
    display: grid;
    grid-column: 3/9;
    grid-row: 5/8;
    background-color: var(--orange-color);
    color: var(--primary-color);
    padding: var(--spacing);
 }

 footer button{
    width: 20%;
 }

 @media screen and (max-width: 800px){
    .page{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr); 
        gap: 2%;
    }

    header{
        grid-column: 1/3;
        grid-row:1/3;
    }
.school{
    grid-column: 1/3;
    grid-row: 3/4;
}
.student{
    grid-column: 1/3;
    grid-row: 4/5;
}
main{
    grid-column: 1/3;
    grid-row: 5/6;
}
.time{
    grid-column: 1/3;
    grid-row: 6/7;
}
.alumni{
    grid-column: 1/3;
    grid-row: 7/8;
}
footer{
    grid-column: 1/3;
    grid-row: 8/9;
}}